<ion-header>
  <ion-navbar>
    <ion-title>
      Podcastr
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>
    {{ formatTime(time) }}
    <br />
  </h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button
          ion-button
          block
          color="secondary"
          (click)="startStopwatch()"
          *ngIf="time===0"
        >
          Start
        </button>
        <button
          ion-button
          block
          [color]="color"
          (click)="stopResumeStopwatch()"
          *ngIf="time > 0"
          class="col-lg-6"
        >
          Stop/Resume
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button
          ion-button
          block
          color="default"
          [disabled]="started"
          (click)="resetStopwatch()"
        >
          Reset
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list text-center>
    <div *ngFor="let val of values;" class="inline-block">
      <button
        ion-button
        color="default"
        round
        class="fixed-button"
        [disabled]="!started"
        (click)="populateText(time, val)"
        >
          {{ val }}
      </button>
    </div>
  </ion-list>
  <div>
    <textarea
      class="text-full"
      cols="40"
      rows="8"
      [(ngModel)]="timeLog"
      #ctrl="ngModel"
    >
      {{ timeLog }}
    </textarea>
    <div text-center>
      <button
        ion-button
        color="danger"
        id="clearButton"
        round
        [disabled]="started"
        (click)="clearText()"
      >
        Clear
      </button>
    </div>
  </div>
</ion-content>
